<form action="answer" method="get" class="d-flex justify-content-center align-items-center" data-turbo="false">
  <input type="text" class="px-5 m-5" name="myquestion">
  <input type="submit" class="btn btn-primary" value="Ask!">
</form>
