<div class="container">
  <div class="content">
    <h1>Stupid Coaching</h1>
    <p>Ask your coaching anything!</p>
    <form action="answer" method="get" class="form-control form-control-lg" data-turbo="false">
      <input type="text" name="myquestion">
      <input type="submit" class="btn btn-lg btn-primary" value="Ask!">
    </form>
  </div>
</div>
